
body{
    background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}
#header{
    margin: 0%;
    background-color: transparent;
    backdrop-filter: blur(500px);
    height: 90px;
    z-index: 2;
}
h1{
    color: whitesmoke;
    padding: 0px 20px;
}

#body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh ;
}

#calc{
    width: 340px;
    border-radius: 10px;
    background-color:rgba(32, 33, 34, 0.772);
    border: .5px solid rgba(68, 68, 68, 0.814);
    backdrop-filter: blur(0px);

}

button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 70px;
    width: 70px;
    border: .5px solid rgba(160, 160, 160, 0.814);
    border-radius: 35px;
    font-size: 2rem;
    font-weight:800;
    cursor: pointer;
    color: white;

    background-color:rgba(178, 178, 178, 0.061);

}

button:hover, #btnC:hover{
    background-color: rgba(218, 218, 218, 0.204);
    transition: .5s;
}
button:active{
    background-color: rgb(131, 131, 131);
    transition: .01s;
}
#btnC{
    background-color: rgba(153, 153, 153, 0.204)
}

#tecla{
    padding: 20px;
    gap: 7px;
    width:360px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#display{
    width: 320px;
    padding: 3% 3%;


    text-align: right;
    color: white;
    font-size: 4rem;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.204);
    backdrop-filter: blur(100px);}